@tailwind base;
@tailwind components;
@tailwind utilities;


.form-edit{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    border-radius: 10px;
    width: 30vw;
    height: 30vw;
    background: rgb(209, 224, 248);
}
